@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.form-container
{
	width:50% !important;
}

.tab-content
{
	padding-top: 20px;
}

footer
{
	margin-top:50px;
	text-align:center;
}
